/* Import fonts */
@import url('../fonts/Roboto.css');

/* Reset and normalize */
@import url('./normalize.css');

.header,
.footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 6em 2em 6em;
}

.header h1 {
  text-shadow: -2px -1px 1px #f8705f, 2px 2px 1px #2d2d2d;
  color: #fafafa;
  font-weight: bold;
  font-size: 4em;
  font-family: 'Times New Roman', sans-serif;
}

.search {
  display: flex;
  align-self: center;
}

.search input {
  font-size: 1em;
  margin-right: 1em;
  border: 1px solid #767676;
  padding: 0.8em 2em 0.8em 1em;
  color: #666;
}

.btn-search {
  font-size: 1em;
  padding: 1em 1.4em;
  font-weight: bold;
  text-align: center;
  color: #f75c49;
  border: 1px solid #f75c49;
  background: white;
  transition: background-color 0.15s linear;
  cursor: pointer;
}

.btn-search:hover {
  cursor: pointer;
  background-color: #f75c49;
  color: #fff;
}

nav {
  display: flex;
  justify-content: start;
  flex-direction: row;
  font-size: 1.2em;
}

.nav-header a {
  text-decoration: none;
  color: #f75c49;
  font-size: 1.4em;
  padding: 0 3em 0 0;
  transition: color 0.15s linear;
}

.nav-footer a {
  text-decoration: none;
  color: #6fa3be;
  font-size: 1.4em;
  padding: 0 3em 0 0;
  transition: color 0.15s linear;
}

.btn-add-teacher {
  font-size: 1.3em;
  padding: 0.7em 1.2em;
  font-weight: bold;
  text-align: center;
  color: #f75c49;
  border: 1px solid #f75c49;
  background: white;
  transition: background-color 0.15s linear;
  cursor: pointer;
}

.btn-add-teacher:hover {
  background-color: #f75c49;
  color: #fff;
}

.top-teachers {
  margin: 0 6em 2em 6em;
}

.block-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.block-header hr {
  border-bottom: 1px solid black;
  width: 50%;
  margin: auto;
}

.block-header h1 {
  margin: 0.8em 0 0.3em 0;
  font-weight: 400;
  font-size: 2.2em;
}

.filter {
  display: flex;
  justify-content: start;
  margin-bottom: 3em;
}

.filter label {
  color: #999;
}

.filter-border {
  padding: 0 1em 0 1em;
  margin: 0 1em 0 1em;
  border-right: 3px dotted grey;
}

.teachers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 2em;
}

.teacher-info {
  margin: 0 0.1em 0 0.1em;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.teacher-info p {
  font-size: 1.3em;
  font-weight: 400;
}

.teacher-info .country {
  margin-top: 1em;
  font-size: 0.8em;
}

.teacher-info .avatar {
  position: relative;
  display: flex;
  justify-content: center;
  width: 125px;
  height: 125px;
  border: 4px solid #ff4a30;
  border-radius: 50%;
  margin-bottom: 1em;
}

.teacher-info:hover .avatar {
  border: 4px solid #cd4b3a;
  color: #cd4b3a;
}

.star {
  color: #ecec02;
  position: absolute;
  font-size: 2.3em;
  top: -0.2em;
  right: -0.5em;
  z-index: 1;
}

.teacher-info img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  vertical-align: middle;
}

.table-section {
  display: flex;
  flex-direction: column;
  margin: 0 6em 2em 6em;
}

.pagination {
  align-self: start;
  margin: 2em 0 2em 0;
}

.pagination a {
  color: #65b7e0;
  text-decoration: none;
  padding-right: 0.5em;
}

.pagination a.active {
  color: #2261a9;
}

.nav-footer a:hover {
  cursor: pointer;
  color: #598eaa;
}

.nav-header a:hover {
  cursor: pointer;
  color: #d34836;
}

.table {
  border-collapse: collapse;
  width: 100%;
  column-width: auto;
}

.table thead {
  border-bottom: 1px solid #222;
}

.table th {
  font-size: 1.3em;
  padding-bottom: 0.7em;
  padding-top: 1em;
  text-align: center;
  background-color: white;
}

.table td,
.table th {
  padding: 0.5em;
}

.table tr:nth-child(even) {
  background-color: #f9f5f9;
}

.table td,
th:nth-child(1) {
  text-align: left;
  width: 30%;
}

.table td:nth-child(2) {
  text-align: center;
  width: 20%;
}

.table td:nth-child(3) {
  text-align: center;
  width: 20%;
}

.table td:nth-child(4) {
  text-align: center;
  width: 30%;
}

.table th:hover {
  cursor: pointer;
  border-bottom: 4px solid black;
  background-color: #fafafa;
}

.favorite-teachers {
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 4fr 4fr 4fr 1fr;
  grid-row-gap: 2em;
}

.arrow {
  color: #888;
  align-self: center;
  justify-self: center;
  font-weight: bold;
  font-size: 3rem;
  font-family: 'Trebuchet MS', sans-serif;
  cursor: pointer;
}

.arrow:hover {
  cursor: pointer;
  color: #313131;
}

.about {
  margin: 3em 6em 2em 6em;
}

.about .text p {
  text-align: left;
  margin-bottom: 1em;
}

/* popup ================================== */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(0.3em);
  transition: opacity 500ms linear;
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  padding: 2em;
  background: #fff;
  position: absolute;
  width: 50%;
  margin: 1em;
  box-shadow: 0 0 0.1em #000;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  transition: all 200ms;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.popup .clear-fix {
  clear: both;
}

.popup img {
  float: left;
  margin-right: 2em;
  width: 15em;
}

.popup .text {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.popup .text h2 {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 1.5em;
}

.popup .text p {
  margin-top: 0.5em;
}

.text .mail-link {
  text-decoration: none;
  color: #89b8cd;
}

.text .main-teacher-info {
  margin-bottom: 1em;
}

.text .toggle-map-link {
  text-decoration-style: dashed;
  color: #89b8cd;
}

.popup-star {
  color: #ecec02;
  font-size: 2.3em;
  margin-right: 1em;
}

.popup-add-teacher {
  padding: 2em;
  background: #fff;
  position: absolute;
  width: 25%;
  margin: 1em;
  box-shadow: 0 0 0.4em #000;
}

.popup-add-teacher .content {
  overflow: auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 2em 0.5em 2em;
}

.popup-add-teacher h1 {
  text-align: center;
  font-weight: 300;
  font-size: 2em;
  grid-area: header;
}

.popup .teacher-intro {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.popup-add-teacher .btn-add-teacher-popup {
  color: #f75c49;
  border: 1px solid #f75c49;
  background: white;
  margin-top: 2em;
  padding: 0.9em 1.5em;
  font-size: 0.9em;
  font-weight: 600;
  transition: background-color, 0.1s linear;
}

.popup-add-teacher .btn-add-teacher-popup:hover {
  cursor: pointer;
  background-color: #ff4a30;
  color: white;
}

.content label {
  margin: 0.8em 0 0.4em 0;
  font-size: 0.9em;
}

.popup-add-teacher input {
  font-size: 0.8em;
  font-weight: 100;
  margin-right: 1em;
  padding: 0.5em 1em;
  color: grey;
  border: 1px solid gray;
}

.popup-add-teacher select {
  font-size: 0.8em;
  font-weight: 100;
  margin-right: 1em;
  padding: 0.5em 1em;
  color: black;
  border: 1px solid gray;
}

.popup-add-teacher input::placeholder {
  color: #8b8bbc;
}

.pair {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 0.8em;
}

input[type="color"] {
  padding: 0;
  border: 1px solid #000;
  border-radius: 5%;
}

.filter label:hover {
  cursor: pointer;
  color: #000;
}

@media (max-width: 768px) {
  .header,
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .teachers {
    grid-template-columns: 1fr 1fr;
  }

  .favorite-teachers .teacher-info .avatar {
    width: 90px;
    height: 90px;
  }

  .favorite-teachers .teacher-info {
    font-size: 0.85em;
  }

  .nav {
    display: flex;
    justify-content: space-between;
  }

  .nav-header {
    font-size: 0.9em;
    margin-bottom: 2em;
  }

  .nav-footer {
    font-size: 0.9em;
    margin-bottom: 2em;
  }

  .btn-add-teacher {
    font-size: 1em;
  }

  .popup-add-teacher {
    padding: 1.4em;
    background: #fff;
    position: absolute;
    transition: all 5s linear;
    width: 50%;
    margin: 1em;
  }

  .popup-add-teacher h1 {
    font-size: 1.7em;
    margin-bottom: 0;
  }

  .popup-add-teacher .btn-add-teacher-popup {
    margin-top: 0.2em;
  }

  .pair {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
  }
}
